body {
  font-family: Arial, sans-serif;
  background-color: #111;
  color: white;
  text-align: center;
}

h1 {
  font-size: 48px;
  margin-bottom: 5px;
}

p {
  color: #cccccc;
}

button {
  display: block;
  width: 360px;
  margin: 10px auto;
  padding: 12px;
  background-color: #222;
  color: white;
  border: 1px solid #555;
  cursor: pointer;
}

button:hover {
  background-color: #333;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  margin: 8px;
}

#simulate-button {
  margin-top: 25px;
  background-color: #444;
  font-weight: bold;
}

#result {
  margin-top: 25px;
}

#how-to-play {
  max-width: 800px;
  margin: 40px auto;
  padding: 20px;
  text-align: center;
}

#how-to-play h2 {
  margin-bottom: 10px;
}

#how-to-play p {
  line-height: 1.6;
  color: #ccc;
}

#sidebar {
  position: fixed;
  top: 20px;
  left: 20px;
  z-index: 1000;
}

#sidebar button {
  width: 120px;
  padding: 10px;
}

#how-to-play-page {
  max-width: 850px;
  margin: 0 auto;
  padding: 10px 20px 40px 20px;
  text-align: left;
  line-height: 1.6;
}

#how-to-play-page h1,
#how-to-play-page h2 {
  text-align: left;
}

#how-to-play-page ul {
  list-style: disc;
  padding-left: 30px;
}

#how-to-play-page p:last-of-type {
  margin-bottom: 10px;
}

#how-to-play-page ul:last-of-type {
  margin-bottom: 10px;
}

#how-to-play-page .back-button {
  margin-top: 10px;
}

.back-button {
  display: block;
  width: 200px;
  margin: 10px auto 40px auto;
  text-align: center;
}

#launch-screen {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  min-height: 100vh;
  text-align: center;
}
